Patient_State/main/default/flows/Patient_State_Laying.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Escalate_State</name>
        <label>Escalate State</label>
        <locationX>933</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Current_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Display_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>displayStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Readjust_State</name>
        <label>Readjust State</label>
        <locationX>927</locationX>
        <locationY>126</locationY>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Current_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Readjust</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Display_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>displayStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_State</name>
        <label>Update State</label>
        <locationX>340</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Time_in_Position__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lastmotion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_State_from_Active</name>
        <label>Update State from Active</label>
        <locationX>436</locationX>
        <locationY>83</locationY>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Orientation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Laying</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Time_in_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastmotion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_State_from_Sitting</name>
        <label>Update State from Sitting</label>
        <locationX>442</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Orientation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Laying</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Time_in_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastmotion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Time</name>
        <label>Update Time</label>
        <locationX>73</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>totalmotion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Active_Patient_State.Time_in_Position__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>totalmotion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lastmotion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Handle_Orientation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Handle_Orientation</name>
        <label>Handle Orientation</label>
        <locationX>186</locationX>
        <locationY>230</locationY>
        <defaultConnector>
            <targetReference>Update_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue Laying</defaultConnectorLabel>
        <rules>
            <name>Active_to_Laying</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_Patient_State.Orientation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_State_from_Active</targetReference>
            </connector>
            <label>Active to Laying</label>
        </rules>
        <rules>
            <name>Sitting_to_Laying</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_Patient_State.Orientation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sitting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_State_from_Sitting</targetReference>
            </connector>
            <label>Sitting to Laying</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Current_State</name>
        <label>Update Current State</label>
        <locationX>655</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Update_Patient_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue As Is</defaultConnectorLabel>
        <rules>
            <name>Readjust</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalmotion</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Active_Patient_State.Current_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Readjust_Patient_Pressure_Flow</targetReference>
            </connector>
            <label>Readjust</label>
        </rules>
        <rules>
            <name>Escalate</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>totalmotion</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>80.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Active_Patient_State.Current_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Readjust</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Active_Patient_State.Current_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalated_Patient_Pressure_Flow</targetReference>
            </connector>
            <label>Escalate</label>
        </rules>
    </decisions>
    <interviewLabel>Patient State Laying {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient State Laying</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Patient_State</name>
        <label>Get Patient State</label>
        <locationX>194</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Time</targetReference>
        </connector>
        <filters>
            <field>PatientId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </filters>
        <object>Patient_State__c</object>
        <outputReference>Active_Patient_State</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_State__c</queriedFields>
        <queriedFields>Orientation__c</queriedFields>
        <queriedFields>Time_in_Position__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Patient_State</name>
        <label>Update Patient State</label>
        <locationX>1063</locationX>
        <locationY>283</locationY>
        <inputReference>Active_Patient_State</inputReference>
    </recordUpdates>
    <startElementReference>Get_Patient_State</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Escalated_Patient_Pressure_Flow</name>
        <label>Escalated Patient Pressure Flow</label>
        <locationX>757</locationX>
        <locationY>467</locationY>
        <connector>
            <targetReference>Escalate_State</targetReference>
        </connector>
        <flowName>Patient_State_Pressure_Notification</flowName>
        <inputAssignments>
            <name>patientId</name>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetState</name>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>displayStatus</assignToReference>
            <name>displayStatus</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Readjust_Patient_Pressure_Flow</name>
        <label>Readjust Patient Pressure Flow</label>
        <locationX>757</locationX>
        <locationY>125</locationY>
        <connector>
            <targetReference>Readjust_State</targetReference>
        </connector>
        <flowName>Patient_State_Pressure_Notification</flowName>
        <inputAssignments>
            <name>patientId</name>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetState</name>
            <value>
                <stringValue>Readjust</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>displayStatus</assignToReference>
            <name>displayStatus</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Active_Patient_State</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_State__c</objectType>
    </variables>
    <variables>
        <name>displayStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastmotion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>orientation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalmotion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
