Patient_State/main/default/flows/Patient_State_Pressure_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Active_Patient_Pressure</name>
        <label>Active Patient Pressure</label>
        <locationX>330</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>Patient_Pressure.PatientId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Patient_Pressure.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Active_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>displayStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Active_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Patient_Pressure_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adjusted_Patient_Pressure</name>
        <label>Adjusted Patient Pressure</label>
        <locationX>417</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>Patient_Pressure.PatientId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Patient_Pressure.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adjusted_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>displayStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adjusted_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Patient_Pressure_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Escalated_Patient_Pressure</name>
        <label>Escalated Patient Pressure</label>
        <locationX>417</locationX>
        <locationY>154</locationY>
        <assignmentItems>
            <assignToReference>Patient_Pressure.PatientId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Patient_Pressure.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalated_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>displayStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Escalated_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Patient_Pressure_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Readjust_Patient_Pressure</name>
        <label>Readjust Patient Pressure</label>
        <locationX>298</locationX>
        <locationY>26</locationY>
        <assignmentItems>
            <assignToReference>Patient_Pressure.PatientId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Patient_Pressure.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Readjust_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>displayStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Readjust_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Patient_Pressure_Event</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Active_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{&quot;laying&quot;:&quot;hide&quot;,&quot;escalate&quot;:&quot;hide&quot;,&quot;adjusted&quot;:&quot;hide&quot;}</stringValue>
        </value>
    </constants>
    <constants>
        <name>Adjusted_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{&quot;laying&quot;:&quot;hide&quot;,&quot;escalate&quot;:&quot;hide&quot;,&quot;adjusted&quot;:&quot;show&quot;}</stringValue>
        </value>
    </constants>
    <constants>
        <name>Escalated_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{&quot;laying&quot;:&quot;hide&quot;,&quot;escalate&quot;:&quot;show&quot;,&quot;adjusted&quot;:&quot;hide&quot;}</stringValue>
        </value>
    </constants>
    <constants>
        <name>Readjust_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>{&quot;laying&quot;:&quot;show&quot;,&quot;escalate&quot;:&quot;hide&quot;,&quot;adjusted&quot;:&quot;hide&quot;}</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Target_State_Decision</name>
        <label>Target State Decision</label>
        <locationX>203</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>Active_Patient_Pressure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active</defaultConnectorLabel>
        <rules>
            <name>Readjust</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>targetState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Readjust</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Readjust_Patient_Pressure</targetReference>
            </connector>
            <label>Readjust</label>
        </rules>
        <rules>
            <name>Escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>targetState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalated_Patient_Pressure</targetReference>
            </connector>
            <label>Escalated</label>
        </rules>
        <rules>
            <name>Adjusted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>targetState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Adjusted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adjusted_Patient_Pressure</targetReference>
            </connector>
            <label>Adjusted</label>
        </rules>
    </decisions>
    <interviewLabel>Patient State Pressure Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient State Pressure Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Patient_Pressure_Event</name>
        <label>Create Patient Pressure Event</label>
        <locationX>748</locationX>
        <locationY>192</locationY>
        <inputReference>Patient_Pressure</inputReference>
    </recordCreates>
    <startElementReference>Target_State_Decision</startElementReference>
    <status>Active</status>
    <variables>
        <name>displayStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Patient_Pressure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Pressure__e</objectType>
    </variables>
    <variables>
        <name>patientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
