Patient_State/main/default/flows/Patient_State_Active.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Patient_State_Status</name>
        <label>Update Patient State Status</label>
        <locationX>792</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Display_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>displayStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_State</name>
        <label>Update State</label>
        <locationX>340</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Current_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Orientation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Time_in_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Active_Patient_Pressure_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_State_from_Laying</name>
        <label>Update State from Laying</label>
        <locationX>442</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Current_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Orientation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Time_in_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adjusted_Patient_Pressure_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_State_from_Sitting</name>
        <label>Update State from Sitting</label>
        <locationX>436</locationX>
        <locationY>83</locationY>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Current_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Orientation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Active_Patient_State.Time_in_Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adjusted_Patient_Pressure_Flow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Handle_Orientation</name>
        <label>Handle Orientation</label>
        <locationX>186</locationX>
        <locationY>230</locationY>
        <defaultConnector>
            <targetReference>Update_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue Active</defaultConnectorLabel>
        <rules>
            <name>Sitting_to_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_Patient_State.Orientation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sitting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_State_from_Sitting</targetReference>
            </connector>
            <label>Sitting to Active</label>
        </rules>
        <rules>
            <name>Laying_to_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_Patient_State.Orientation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Laying</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_State_from_Laying</targetReference>
            </connector>
            <label>Laying to Active</label>
        </rules>
    </decisions>
    <interviewLabel>Patient State Active {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient State Active</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Patient_State</name>
        <label>Get Patient State</label>
        <locationX>194</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Handle_Orientation</targetReference>
        </connector>
        <filters>
            <field>PatientId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </filters>
        <object>Patient_State__c</object>
        <outputReference>Active_Patient_State</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Current_State__c</queriedFields>
        <queriedFields>Orientation__c</queriedFields>
        <queriedFields>Time_in_Position__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Patient_State</name>
        <label>Update Patient State</label>
        <locationX>941</locationX>
        <locationY>239</locationY>
        <inputReference>Active_Patient_State</inputReference>
    </recordUpdates>
    <startElementReference>Get_Patient_State</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Active_Patient_Pressure_Flow</name>
        <label>Active Patient Pressure Flow</label>
        <locationX>665</locationX>
        <locationY>419</locationY>
        <connector>
            <targetReference>Update_Patient_State_Status</targetReference>
        </connector>
        <flowName>Patient_State_Pressure_Notification</flowName>
        <inputAssignments>
            <name>patientId</name>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetState</name>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>displayStatus</assignToReference>
            <name>displayStatus</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Adjusted_Patient_Pressure_Flow</name>
        <label>Adjusted Patient Pressure Flow</label>
        <locationX>673</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Update_Patient_State_Status</targetReference>
        </connector>
        <flowName>Patient_State_Pressure_Notification</flowName>
        <inputAssignments>
            <name>patientId</name>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetState</name>
            <value>
                <stringValue>Adjusted</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>displayStatus</assignToReference>
            <name>displayStatus</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Active_Patient_State</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_State__c</objectType>
    </variables>
    <variables>
        <name>displayStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastmotion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>orientation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
